#app {
  width: 100%;
  height: 100%;
  overflow: scroll; }
  #app #drawing {
    border: solid 1px lightgrey;
    margin: 5px;
    height: 900px;
    width: 1440px; }
  #app .navs {
    background: #f2f2f2;
    padding: 10px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    #app .navs .btn {
      background: -webkit-gradient(linear, left bottom, right top, from(teal), to(violet));
      background: -webkit-linear-gradient(bottom left, teal, violet);
      background: -o-linear-gradient(bottom left, teal, violet);
      background: linear-gradient(to top right, teal, violet);
      display: inline-block;
      padding: 10px;
      cursor: pointer;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      margin-right: 16px;
      color: white; }
  #app .block-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    background: #f2f2f2; }
.svg_select_points_lt {
  cursor: nw-resize; }

.svg_select_points_rt {
  cursor: ne-resize; }

.svg_select_points_rb {
  cursor: se-resize; }

.svg_select_points_lb {
  cursor: sw-resize; }

.svg_select_points_t {
  cursor: n-resize; }

.svg_select_points_r {
  cursor: e-resize; }

.svg_select_points_b {
  cursor: s-resize; }

.svg_select_points_l {
  cursor: w-resize; }

.svg_select_points_rot {
  stroke-width: 1;
  stroke: #000;
  fill: #f9ffed; }

.svg_select_points_point {
  cursor: move; }

.svg_select_boundingRect {
  stroke-width: 1;
  fill: gray;
  stroke-dasharray: 10 10;
  stroke: #000;
  stroke-opacity: .8;
  fill-opacity: .1;
  pointer-events: none; }
