@import defaults

#app
  width: 100%
  height: 100%
  overflow: scroll

  #drawing
    border: solid 1px lightgrey
    margin: 5px
    height: 100%
    width: 100%

    .selected-element
      rect
        stroke: $blue
        stroke-width: 2px
        stroke-dashoffset: -2px
      > tspan
        outline: $blue solid 2px

    
  .navs
    background: #f2f2f2
    padding: 10px 30px
    display: flex
    position: absolute
    bottom: 0
    left: 0
    width: 100%

  .btn
    display: inline-block
    padding: 10px
    cursor: pointer
    user-select: none
    margin-right: 16px
    border-radius: 2px

    &.grad
      background: linear-gradient(to top right, teal, violet)
      color: white

    &.grey
      background: #b3b3b3

  .block-menu
    position: absolute
    bottom: 0
    left: 0
    width: 100vw
    background: #f2f2f2
    display: flex
    padding: 10px 30px
    opacity: 0
    pointer-events: none
    transform: translate(30px)
    +transition()

    &.show
      opacity: 1
      transform: none
      pointer-events: all


