<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Tables</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link href="css/index.css?29253f6ce6c2ec792012" rel="stylesheet"></head>
  <body>
    <div id="app">
      <div id="drawing"></div>
      <div id="interface">
        <transition-group name="fade">
          <div class="editor-menu" v-if="$store.state.editorMenu" key="one">
            <div class="interface__btn grad add-table" @click="$store.dispatch('addTable')">Add table</div>
            <div class="interface__btn grad add-text" @click="$store.dispatch('addText')">Add text</div>
            <div class="interface__btn grad add-line" @click="$store.dispatch('addLine')">Add wall</div>
            <div class="interface__btn grad add-bar" @click="$store.dispatch('addLine2')">Add bar</div>
            <div class="interface__btn grad add-window" @click="$store.dispatch('addGlass')">Add windows</div>
            <div class="interface__btn grad add-decor" @click="$store.dispatch('addDecor')">Add decor</div>
            <div class="interface__btn grad export" @click="$store.dispatch('exportData')">Export</div>
            <div class="interface__btn grad clear" @click="$store.dispatch('clearAll')">Clear</div>
          </div>
          <div class="element-menu" v-if="$store.state.elementMenu &amp;&amp; $store.state.selectedElement" key="two">
            <div class="interface__input table-number">Table number</div>
            <div class="interface__input table-guests">Number of guests</div>
            <div class="interface__btn grey rotate-left">Rotate left</div>
            <div class="interface__btn grey rotate-right">Rotate right</div>
            <div class="interface__btn grey copy-element" @click="$store.dispatch('copyElement')">Copy</div>
            <div class="interface__btn grey remove-element" @click="$store.dispatch('removeElement')">Remove</div>
          </div>
        </transition-group>
      </div>
    </div>
  <script type="text/javascript" src="js/index.js?29253f6ce6c2ec792012"></script></body>
</html>