<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tables</title>
  <link href="css/index.css?408fdd3c3e329ddb5cfc" rel="stylesheet"></head>
  <body>
    <div id="app">
      <div id="drawing"></div>
      <div id="interface">
        <transition-group name="fade">
          <div class="scale-menu" v-if="$store.state.scaleMenu" key="three">
            <div class="interface__text">Рабочая область</div>
            <div class="interface__btn right-plus" @click="$store.dispatch('changeScale', {dx: 3})">
              <div class="btn__icon icon-right-plus"></div>
              <div class="btn__text">Добавить справа</div>
            </div>
            <div class="interface__btn right-minus" @click="$store.dispatch('changeScale', {dx: -3})">
              <div class="btn__icon icon-right-minus"></div>
              <div class="btn__text">Убрать справа</div>
            </div>
            <div class="interface__btn bottom-plus" @click="$store.dispatch('changeScale', {dy: 3})">
              <div class="btn__icon icon-bottom-plus"></div>
              <div class="btn__text">Добавить снизу</div>
            </div>
            <div class="interface__btn bottom-minus" @click="$store.dispatch('changeScale', {dy: -3})">
              <div class="btn__icon icon-bottom-minus"></div>
              <div class="btn__text">Убрать снизу</div>
            </div>
            <div class="interface__btn" @click="$store.dispatch('switchScaleMenu', false)">
              <div class="text-btn">Готово</div>
            </div>
          </div>
          <div class="editor-menu" v-if="$store.state.editorMenu" key="one">
            <div class="interface__btn scale-btn" @click="$store.dispatch('switchScaleMenu', true)">
              <div class="btn__icon icon-ruler"></div>
              <div class="btn__text">Рабочая область</div>
            </div>
            <div class="interface__btn add-table" @click="$store.dispatch('addTable')">
              <div class="btn__icon icon-table">
                <div class="table-guest">2</div>
              </div>
              <div class="btn__text">2-местный</div>
            </div>
            <div class="interface__btn add-table" @click="$store.dispatch('addTable', {guests: 4})">
              <div class="btn__icon icon-table big">
                <div class="table-guest">4</div>
              </div>
              <div class="btn__text">4-местный</div>
            </div>
            <div class="interface__btn add-table" @click="$store.dispatch('addTable', {guests: 6})">
              <div class="btn__icon icon-table big">
                <div class="table-guest">6</div>
              </div>
              <div class="btn__text">6-местный</div>
            </div>
            <div class="interface__btn add-text" @click="$store.dispatch('addText')">
              <div class="btn__icon icon-text">T</div>
              <div class="btn__text">Текст</div>
            </div>
            <div class="interface__btn add-line" @click="$store.dispatch('addWall')">
              <div class="btn__icon icon-line">
                <div class="line grey"></div>
              </div>
              <div class="btn__text">Стена</div>
            </div>
            <div class="interface__btn add-window" @click="$store.dispatch('addGlass')">
              <div class="btn__icon icon-line">
                <div class="line blue"></div>
              </div>
              <div class="btn__text">Стекло</div>
            </div>
            <div class="interface__btn add-bar" @click="$store.dispatch('addBar')">
              <div class="btn__icon icon-line">
                <div class="line brown"></div>
              </div>
              <div class="btn__text">Барная стойка</div>
            </div>
            <div class="interface__btn add-barnchair" @click="$store.dispatch('addBarnchair')">
              <div class="btn__icon icon-barnchair"></div>
              <div class="btn__text">Барный стул</div>
            </div>
            <div class="interface__btn add-decor" @click="$store.dispatch('addDecor')">
              <div class="btn__icon icon-decor"></div>
              <div class="btn__text">Декор</div>
            </div>
            <div class="interface__btn add-decor2" @click="$store.dispatch('addDecor2')">
              <div class="btn__icon icon-decor2 big"></div>
              <div class="btn__text">Мега-декор</div>
            </div>
            <div class="interface__btn export" @click="$store.dispatch('exportData')">
              <div class="btn__icon icon-text">Ээ</div>
              <div class="btn__text">Экспорт</div>
            </div>
            <div class="interface__btn clear" @click="$store.dispatch('clearAll')">
              <div class="btn__icon icon-text">Оч</div>
              <div class="btn__text">Очистить</div>
            </div>
          </div>
          <div class="element-menu" v-if="$store.state.elementMenu &amp;&amp; $store.state.selectedElement" key="two">
            <div class="interface__input table-number" v-if="$store.state.selectedElement.attr('restotype') === 'table'"><span>Номер стола</span>
              <input v-model="tableNum" @input="tableNumSend">
            </div>
            <div class="interface__input table-number wide" v-if="$store.state.selectedElement.type ==='text'"><span>Текст</span>
              <input v-model="elementText" @input="elementTextSend">
            </div>
            <div class="interface__input table-guests" v-if="$store.state.selectedElement.attr('restotype') === 'table'"><span>Кол. гостей</span>
              <input v-model="guestNum" @input="guestNumSend">
            </div>
            <div class="interface__btn rotate-left" @click="$store.dispatch('rotateElement', 'left')" v-if="$store.state.selectedElement.type ==='line' || $store.state.selectedElement.type ==='text'">
              <div class="btn__icon icon-rotate"></div>
              <div class="btn__text">Повернуть влево</div>
            </div>
            <div class="interface__btn rotate-right" @click="$store.dispatch('rotateElement')" v-if="$store.state.selectedElement.type ==='line' || $store.state.selectedElement.type ==='text'">
              <div class="btn__icon icon-rotate right"></div>
              <div class="btn__text">Повернуть вправо</div>
            </div>
            <div class="interface__btn copy-element" @click="$store.dispatch('copyElement')">
              <div class="btn__icon icon-copy"></div>
              <div class="btn__text">Дублировать</div>
            </div>
            <div class="interface__btn remove-element" @click="$store.dispatch('removeElement')">
              <div class="btn__icon icon-remove"></div>
              <div class="btn__text">Удалить</div>
            </div>
          </div>
        </transition-group>
      </div>
    </div>
  <script type="text/javascript" src="js/index.js?408fdd3c3e329ddb5cfc"></script></body>
</html>