doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Tables
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")
  body
    #app
      .navs
        .btn.add-table Add table
        .btn.add-text Add text
        .btn.export Export
      #drawing