doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Tables
  body
    #app
      #drawing
      #interface

        .scale-btns
          .scale-btn__plus(@click="$store.dispatch('changeScale', -3)")
          .scale-btn__minus(@click="$store.dispatch('changeScale')")

        transition-group(name="fade")
          .editor-menu(v-if="$store.state.editorMenu" key="one")
            .interface__btn.add-table(@click="$store.dispatch('addTable')")
              .btn__icon.icon-table
                .table-guest 2
              .btn__text Add table
            .interface__btn.add-table(@click="$store.dispatch('addTable', {guests: 4})")
              .btn__icon.icon-table.big
                .table-guest 4
              .btn__text Add table 4
            .interface__btn.add-table(@click="$store.dispatch('addTable', {guests: 6})")
              .btn__icon.icon-table.big
                .table-guest 6
              .btn__text Add table 6
            .interface__btn.add-text(@click="$store.dispatch('addText')")
              .btn__icon.icon-text T
              .btn__text Add text
            .interface__btn.add-line(@click="$store.dispatch('addWall')")
              .btn__icon.icon-line
                .line.grey
              .btn__text Add wall
            .interface__btn.add-window(@click="$store.dispatch('addGlass')")
              .btn__icon.icon-line
                .line.blue
              .btn__text Add windows
            .interface__btn.add-bar(@click="$store.dispatch('addBar')")
              .btn__icon.icon-line
                .line.brown
              .btn__text Add bar
            .interface__btn.add-barnchair(@click="$store.dispatch('addBarnchair')")
              .btn__icon.icon-barnchair
              .btn__text Add barnchair
            .interface__btn.add-decor(@click="$store.dispatch('addDecor')")
              .btn__icon.icon-decor
              .btn__text Add decor
            .interface__btn.add-decor2(@click="$store.dispatch('addDecor2')")
              .btn__icon.icon-decor2.big
              .btn__text Add decor 2
            .interface__btn.export(@click="$store.dispatch('exportData')")
              .btn__icon.icon-text E
              .btn__text Export
            .interface__btn.clear(@click="$store.dispatch('clearAll')")
              .btn__icon.icon-text C
              .btn__text Clear


          .element-menu(v-if="$store.state.elementMenu && $store.state.selectedElement" key="two")
            .interface__input.table-number(v-if="$store.state.selectedElement.attr('restotype') === 'table'")
              span Table number
              input(v-model="tableNum" @input="tableNumSend")
            .interface__input.table-number.wide(v-if="$store.state.selectedElement.type ==='text'")
              span Text
              input(v-model="elementText" @input="elementTextSend")
            .interface__input.table-guests(v-if="$store.state.selectedElement.attr('restotype') === 'table'")
              span Number of guests
              input(v-model="guestNum" @input="guestNumSend")
            .interface__btn.rotate-left(@click="$store.dispatch('rotateElement', 'left')" v-if="$store.state.selectedElement.type ==='line' || $store.state.selectedElement.type ==='text'")
              .btn__icon.icon-rotate
              .btn__text Rotate left
            .interface__btn.rotate-right(@click="$store.dispatch('rotateElement')" v-if="$store.state.selectedElement.type ==='line' || $store.state.selectedElement.type ==='text'")
              .btn__icon.icon-rotate.right
              .btn__text Rotate right
            .interface__btn.copy-element(@click="$store.dispatch('copyElement')")
              .btn__icon.icon-copy
              .btn__text Copy
            .interface__btn.remove-element(@click="$store.dispatch('removeElement')")
              .btn__icon.icon-remove
              .btn__text Remove
