doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Tables
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")
  body
    #app
      #drawing
      .navs
        .btn.grad.add-table Add table
        .btn.grad.add-text Add text
        .btn.grad.add-line Add wall
        .btn.grad.add-bar Add bar
        .btn.grad.add-window Add windows
        .btn.grad.add-decor Add decor
        .btn.grad.export Export
        .btn.grad.clear Clear
      .block-menu
        .btn.grey.copy-element Copy
        .btn.grey.remove-element Remove