doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Tables
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")
  body
    #app
      #drawing
      #interface
        transition-group(name="fade")
          .editor-menu(v-if="$store.state.editorMenu" key="one")
            .interface__btn.grad.add-table(@click="$store.dispatch('addTable')") Add table
            .interface__btn.grad.add-text(@click="$store.dispatch('addText')") Add text
            .interface__btn.grad.add-line(@click="$store.dispatch('addLine')") Add wall
            .interface__btn.grad.add-bar(@click="$store.dispatch('addLine2')") Add bar
            .interface__btn.grad.add-window(@click="$store.dispatch('addGlass')") Add windows
            .interface__btn.grad.add-decor(@click="$store.dispatch('addDecor')") Add decor
            .interface__btn.grad.export(@click="$store.dispatch('exportData')") Export
            .interface__btn.grad.clear(@click="$store.dispatch('clearAll')") Clear
          .element-menu(v-if="$store.state.elementMenu && $store.state.selectedElement" key="two")
            .interface__input.table-number Table number
            .interface__input.table-guests Number of guests
            .interface__btn.grey.rotate-left Rotate left
            .interface__btn.grey.rotate-right Rotate right
            .interface__btn.grey.copy-element(@click="$store.dispatch('copyElement')") Copy
            .interface__btn.grey.remove-element(@click="$store.dispatch('removeElement')") Remove
