doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Tables
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="css/select.css")
  body
    #app
      .navs
        .btn.add-rect Add table
        .btn.export Export
      #drawing

    script(src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.6.6/svg.min.js")
    script(src="js/draggable.js")
    script(src="js/select.js")
    script(src="js/resize.js")
    script(src="js/index.js")